@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root{
    margin: 0;
    font-family: tahoma;
}
body{
    display: grid;
    grid-template-columns: minmax(100px, 200px) 2fr;
    margin: 0;
    height: 100%;
}
#title{
    grid-column:2/3;
    margin-left: calc(50% - 140px);
}
#left-side{
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    grid-column: 1/2;
    height: 100vh;
    width:100%;
    min-width: 100px;
    max-width: 200px;
    background-color: rgb(158, 158, 158);
}
#task-generator{
    position: relative;
    grid-column: 2/3;
    height: 200px;
    width: calc(100%);
    background-color: rgb(231, 231, 231);
}
#task-generator > input {
    padding-left: 10px;
    display: block;
    margin-top: 10px;
    padding-top: 7px;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    min-width: 100px;
    width: 400px;
    font-size: 20px;
    margin-left: calc(50% - 150px);
}
#color-btn{
    
}
#hello{
    font-size: 10px;
    color: red;
}